[submodule "cpbook-code"]
	path = cpbook-code
	url = git@github.com:stevenhalim/cpbook-code.git
[submodule "Rust"]
	path = Rust
	url = git@github.com:TheAlgorithms/Rust.git
[submodule "ac-library"]
	path = ac-library
	url = git@github.com:atcoder/ac-library.git
[submodule "rust-algorithms"]
	path = rust-algorithms
	url = git@github.com:EbTech/rust-algorithms.git
[submodule "library-rs"]
	path = library-rs
	url = git@github.com:rsk0315/library-rs.git
[submodule "tourist_algo"]
	path = tourist_algo
	url = git@github.com:the-tourist/algo.git
